@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rowdies:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300&family=Roboto:wght@400;500&family=Rowdies:wght@300&display=swap');
html,body{
    margin:0;
    padding:0;
    width:100%;
}

body{
    font-family: sans-serif;
}

header{
    width:100%;
    height: 430px;
    background: #6bafe3;
    background-size: cover;
    background-attachment: fixed;
}

.h2{
    font-family: Rowdies;
}



.content1{
    padding-left:30px ;
    padding-right: 30px;
    font-size: 20px;
    margin:0;
}

.middle{
    padding-left: 350px;
    padding-right: 350px;
    font-family: Rowdies;
    letter-spacing:1.5px;
}

.logo{
    position:fixed;
    float:left;
    margin-top: 40px;
    margin-left: 120px;
    color:rgb(247, 245, 245);
    font-weight: bold;
    font-size: 30px;
}

.menu{
    height:120px;
}

.nav{
    position:fixed;
    width:100%;

}

nav ul{
    list-style: none;
    background: rgba(0,0,0,0);
    overflow: hidden;
    color: white;
    padding: 0;
    text-align: right;
    margin: 0;
    transition: 1s;
}

.navbar{
    height:120px;
}
.navbar.black{
    position:fixed;
    background:#ffff;
    width:100%;
    height:120px;
    

}
nav ul li{
    display:inline-block;
    padding:20px;
    margin-top: 25px;

}

nav ul li a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing:2px;
    font-weight: bold;
}

.console-container {
 
    font-family:sans-serif;
    font-size:4em;
    text-align:center;
    height:80px;
    width:600px;
    display:block;
    position:relative;
    color:white;
    top:100px;
    bottom:0;
    left:0;
    right:80px;
    margin:auto;
  }
  .console-underscore {
    display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
  }

div .block{

   display:none;
   transition:20s;
}

.white{
    color:black;

}

.white1 ul li a{
    color:black;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section{
  min-height: 100vh;
  width:80%;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  font-size: 3rem;
  margin: 2rem 0rem;
}

.faq h3:hover ~ p {
  display: block;
}
.faq p {
  display: none;
}
.faq h3:hover .faq p {
  display: block;
  
}

p{
    font-family: Roboto;
    letter-spacing: 1px;
    font-weight: medium;
    font-size: 20px;
}

.methods{
    padding-left: 350px;
    padding-right: 350px;
    background-color: rgb(255, 244, 226);
}

.articles{
    width: 400px;
    height:425px;
    padding-left: 60px;
    padding-right: 35px;
}

.articles1{
    width: 537px;
    height:425px;
    padding-left: 100px;
    padding-right: 35px;
}

.articles2{
    width: 495px;
    height:425px;
    padding-left: 60px;
    padding-right: 35px;
}
.card {
    width: 275px;
    font-family: sans-serif;
    text-align: center;
    transition: all .125s;
    transform: scale(1) translateY(0px);
  }
  
  /* Elements */
  .card__wrapper {
    padding-top: .1px;
    padding-bottom: .1px;
    position: relative;
  
    background-color: #ffffff;
    color: #999999;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.05);
  }
  .card__wrapper:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 15px;
    right: 15px;
    bottom: 0;
    left: 15px;
  
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.2);
    transition: all .125s;
    transform: scale(1) translateY(0px);
  }
  .card__box {
    padding-right: 35px;
    padding-left: 35px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .card__item  {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .card__item--small  {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .card__feature {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
  .card__img {
    display: block;
    max-width: 100%;
    height: 240px;
    width: 275px;
  }
  .card__header {
    position: relative;
    z-index: 1;
  }
  .card__title {
    color: #222222;
  
    font-size: 30px;
    font-weight: 400;
    line-height: 1.25;
  }
  .card__label {
    color: #cccccc;
  
    font-family: sans-serif;
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: .2em;
  }
  .card__divider {
    display: block;
    width: 100%;
    height: 15px;
  
    border: none;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIyOHB4IiBoZWlnaHQ9IjE1cHgiIHZpZXdCb3g9IjAgMCAyOCAxNSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjggMTUiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiNERURFREUiIGQ9Ik0yNy41LDdoLTZDMjEuMiwzLjEsMTgsMCwxNCwwUzYuOCwzLjEsNi41LDdoLTZDMC4yLDcsMCw3LjIsMCw3LjVTMC4yLDgsMC41LDhoNmMwLjMsMy45LDMuNSw3LDcuNSw3czcuMi0zLjEsNy41LTdoNkMyNy44LDgsMjgsNy44LDI4LDcuNVMyNy44LDcsMjcuNSw3eiBNMTQsMWMzLjQsMCw2LjIsMi42LDYuNSw2SDcuNUM3LjgsMy42LDEwLjYsMSwxNCwxeiBNMTQsMTRjLTMuNCwwLTYuMi0yLjYtNi41LTZoMTIuOUMyMC4yLDExLjQsMTcuNCwxNCwxNCwxNHoiLz48L3N2Zz4=);
    background-repeat: no-repeat;
    background-position: center center;
  }
  .card__body {
    font-size: 12px;
    line-height: 1.75;
  }
  
  /* Modifiers */
  .card:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  .card:hover .card__wrapper {
    box-shadow: 0 10px 10px 10px rgba(109, 108, 108, 0.05);
  }
  .card:hover .card__wrapper:after {
    transform: scale(0.95) translateY(10px);
  }
  
  /* Demo */
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafdfb;
   
  }
  .card {
    display: inline-block;
    margin-top:0;
    margin-right: 80px;
    margin-left: 100px;
    top: 50%;
  }

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
